@import "variables";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

// $color-bg: #f3efe8;
// $color-result: #867666;
// $color-input: #e1b80D;
// $color-btn: #eee;
// $color-btn-hover: #ddd;
// $color-digit-btn: #fff;
// $color-digit-btn-hover: #eee;

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  margin: 0;

  // background: $color-bg url('/img/bg.svg') center/cover;
  background-color: lightblue;
}

.calc {
  width: 12rem;

  background-color: white;
  box-shadow: 0px 0px 2px gray;

  &__result {
    height: 3.5rem;
    padding: 0 1rem;

    color: white;
    background-color: $color-result;
    border: none;
    outline: none;

    font-size: 220%;
    font-weight: 300;
    line-height: 3.5rem;
    text-align: right;
  }

  &__input {
    display: block;

    width: 100%;
    height: 2.5rem;
    padding: 0.4rem 1rem 0 1rem;

    color: white;
    background-color: $color-input;
    border: none;
    outline: none;

    text-align: right;
    line-height: 2.1rem;
    font-size: 150%;
    font-weight: 300;
  }

  &__controls {
    display: flex;

    &__column {
      display: flex;

      &--left {
        flex-wrap: wrap;
      }

      &--right {
        flex-direction: column;
      }
    }

    &__row {
      display: flex;
    }
  }

  &__btn {
    width: 3rem;
    height: 3rem;

    background-color: $color-btn;
    border: none;

    font-size: 150%;
    font-weight: 300;

    cursor: pointer;
  }

  &__btn--digit {
    background-color: $color-digit-btn;
  }

  &__btn--minus,
  &__btn--plus {
    height: 6rem;
  }

  &__btn--zero {
    width: 6rem;
  }

  &__btn:hover {
    background-color: $color-btn-hover;
  }

  &__btn--digit:hover {
    background-color: $color-digit-btn-hover;
  }
}
